.home1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.about {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
}
.menu-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.help {
  position: relative;
  font-weight: 900;
}
.menu-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
}
.contact {
  position: relative;
  font-weight: 900;
}
.menu-links3 {
  width: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.log-in {
  height: 41px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
}
.log-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.trial-info {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #a2faef;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sign-up {
  position: absolute;
  top: 13px;
  left: 16px;
  font-weight: 900;
  display: inline-block;
  width: 129px;
  height: 41px;
  white-space: nowrap;
  z-index: 1;
}
.trial-info-parent {
  height: 68px;
  flex: 1;
  position: relative;
  white-space: nowrap;
  color: #878585;
}
.content,
.header {
  width: 303px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-13xl);
}
.header {
  width: 1089px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.wrapper-ellipse-2-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(1.067);
}
.wrapper-ellipse-2 {
  height: 300px;
  width: 304px;
  position: absolute;
  margin: 0 !important;
  top: -91px;
  left: -112px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-ellipse-3-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(1.067);
}
.wrapper-ellipse-3 {
  height: 300px;
  width: 304px;
  position: absolute;
  margin: 0 !important;
  top: 876px;
  right: -98px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-ellipse-4-child {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(1.067);
}
.wrapper-ellipse-4 {
  height: 300px;
  width: 304px;
  position: absolute;
  margin: 0 !important;
  bottom: 1598px;
  left: -112px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-container-icon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 10px;
  transform: scale(1.067);
}
.wrapper-new-container {
  height: 300px;
  width: 304px;
  position: absolute;
  margin: 0 !important;
  right: -98px;
  bottom: 696px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content-child {
  align-self: stretch;
  height: 3702px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--color-turquoise-400);
  display: none;
}
.break-fast,
.time-7am {
  position: relative;
  font-weight: 900;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.break-fast {
  align-self: stretch;
  height: 76px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.time-7am {
  width: 186px;
  height: 38px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkorange);
}
.breakfast-time {
  width: 417px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  max-width: 100%;
}
.menu-vertical-icon {
  width: 61px;
  height: 60px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.breakfast-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.breakfast-time-parent,
.hero-button-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.breakfast-time-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hero-button-content {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xl);
  box-sizing: border-box;
}
.breakfast-dots-child {
  width: 508px;
  height: 575px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: none;
  max-width: 100%;
}
.full-stop-icon,
.full-stop-icon1,
.full-stop-icon2,
.full-stop-icon3 {
  width: 51px;
  height: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.breakfast-dots {
  height: 575px;
  width: 508px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 70px var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  min-width: 508px;
  max-width: 100%;
  z-index: 1;
}
.get-your-breakfast {
  height: 79px;
  width: 280px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-olivedrab);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.breakfast-description {
  width: 890px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.breakfast-description,
.hero-button-container,
.hero-button-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hero-button-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 68px;
}
.hero-button-wrapper {
  width: 1298px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
}
.hero-call-to-action-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  z-index: 2;
}
.hero-call-to-action {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl);
  box-sizing: border-box;
  gap: 75px;
  max-width: 100%;
}
.menu-vertical-icon1 {
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.lunch-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.lunch,
.time-1pm {
  position: relative;
  font-weight: 900;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.lunch {
  align-self: stretch;
  height: 76px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  z-index: 1;
}
.time-1pm {
  height: 38px;
  width: 185px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkorange);
  z-index: 2;
}
.lunch-schedule {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.lunch-details,
.lunch-parent,
.lunch-schedule {
  display: flex;
  align-items: flex-start;
}
.lunch-parent {
  width: 234px;
  flex-direction: column;
  justify-content: flex-start;
}
.lunch-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lunch-slogan-dots-child {
  width: 508px;
  height: 575px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.full-stop-icon4 {
  width: 70.5px;
  height: 70.7px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 43.5px;
  object-fit: contain;
  z-index: 2;
}
.full-stop-icon5,
.full-stop-icon6,
.full-stop-icon7 {
  width: 51px;
  height: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.lunch-slogan-dots {
  height: 575px;
  margin: 0 !important;
  position: absolute;
  right: -470px;
  bottom: -543px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 98.3px var(--padding-34xl) 98px 403px;
  box-sizing: border-box;
  gap: var(--gap-mid);
  z-index: 1;
}
.get-your-lunch {
  height: 42px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-olivedrab);
  text-align: left;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.lunch-slogan,
.lunch-slogan-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.lunch-slogan-content {
  width: 280px;
  justify-content: flex-start;
  position: relative;
}
.lunch-slogan {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-10xl);
}
.lunch-content,
.lunch-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.lunch-content {
  flex: 1;
  flex-direction: column;
  gap: 83px;
}
.lunch-content-wrapper {
  width: 1255px;
  flex-direction: row;
  padding: 0 var(--padding-14xl) 495px;
  box-sizing: border-box;
}
.snacks-divider,
.snacks-separator {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.snacks-separator {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-darkturquoise);
  z-index: 2;
}
.snacks-divider {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
}
.snacks,
.time {
  position: relative;
  font-weight: 900;
  font-family: var(--font-inter);
  text-align: left;
  display: inline-block;
}
.snacks {
  height: 76px;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  flex-shrink: 0;
  z-index: 1;
}
.time {
  height: 38px;
  flex: 1;
  font-size: var(--font-size-13xl);
  color: var(--color-darkorange);
  z-index: 2;
}
.snacks-schedule,
.snacks-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.snacks-schedule {
  width: 187px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.snacks-time {
  flex-direction: column;
}
.snacks-dot-list-child {
  width: 508px;
  height: 575px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: none;
  max-width: 100%;
}
.full-stop-icon10,
.full-stop-icon11,
.full-stop-icon8,
.full-stop-icon9 {
  width: 51px;
  height: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.snacks-dot-list {
  align-self: stretch;
  flex: 1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  flex-direction: column;
  padding: var(--padding-34xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-mid);
  z-index: 1;
}
.snacks-dot-list,
.snacks-dots,
.snacks-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.snacks-dots {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.snacks-header {
  height: 770px;
  width: 509px;
  flex-direction: column;
  gap: var(--gap-62xl);
  min-width: 509px;
}
.menu-vertical-icon2 {
  height: 60px;
  width: 61px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.snacks-order-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.get-your-snacks {
  width: 279px;
  height: 79px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-olivedrab);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.snacks-order-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 127px;
}
.snacks-content,
.snacks-details,
.snacks-order {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.snacks-order {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 386px;
}
.snacks-content,
.snacks-details {
  flex-direction: row;
}
.snacks-details {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-62xl);
}
.snacks-content {
  width: 1328px;
  justify-content: flex-end;
  padding: 0 72px;
  box-sizing: border-box;
}
.dinner-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  z-index: 2;
}
.snacks-divider-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 54px;
  max-width: 100%;
}
.menu-vertical-icon3 {
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.dinner-order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.dinner {
  height: 76px;
  width: 253px;
  position: relative;
  font-size: var(--font-size-45xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.dinner-details,
.dinner-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.dinner-header {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.dinner-details {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.time-8pm {
  height: 38px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-darkorange);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.dinner-time {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl);
}
.dinner-slogan-dots-child {
  width: 508px;
  height: 575px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  display: none;
  max-width: 100%;
}
.full-stop-icon12,
.full-stop-icon13,
.full-stop-icon14,
.full-stop-icon15 {
  width: 51px;
  height: 50px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.dinner-slogan-content,
.dinner-slogan-dots {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dinner-slogan-dots {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-111xl) 0;
  background-color: var(--color-turquoise-200);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-42xl) 43px var(--padding-42xl) 414px;
  box-sizing: border-box;
  gap: var(--gap-mid);
  z-index: 1;
}
.dinner-slogan-content {
  height: 575px;
  flex-direction: row;
  justify-content: flex-end;
}
.get-your-dinner {
  width: 280px;
  height: 42px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-olivedrab);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
  margin-top: -575px;
}
.dinner-slogan {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
}
.dinner-content,
.dinner-schedule,
.dinner-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.dinner-schedule {
  width: 775px;
  height: 683px;
  align-items: flex-start;
  gap: 70px;
  margin-top: -10px;
}
.dinner-content {
  flex: 1;
  align-items: flex-end;
}
.dinner-content-wrapper {
  width: 1305px;
  flex-direction: row;
  padding: 0 63px;
  box-sizing: border-box;
}
.carousel-indicators,
.dinner-content-wrapper,
.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-content {
  cursor: pointer;
  border: 0;
  padding: var(--padding-19xl) 0 var(--padding-102xl);
  background-color: var(--color-turquoise-400);
  flex: 1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  box-sizing: border-box;
  gap: 91px;
}
.carousel-indicators {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.follow-us-on {
  height: 47px;
  position: relative;
  font-weight: 900;
  display: inline-block;
}
.carousel-indicators-parent,
.footer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer {
  width: 1439px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.carousel-indicators-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 92px;
}
.body,
.home {
  display: flex;
  box-sizing: border-box;
}
.body {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl) 0 var(--padding-19xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-darkturquoise);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 57px 81px 193px;
  gap: 210px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .lunch-content {
    gap: 41px;
  }
  .snacks-header {
    flex: 1;
  }
  .snacks-details {
    flex-wrap: wrap;
    gap: var(--gap-21xl);
  }
  .snacks-content {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .dinner-content-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .hero-content {
    padding-top: var(--padding-xl);
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .breakfast-dots {
    flex: 1;
    min-width: 100%;
  }
  .breakfast-description {
    flex-wrap: wrap;
  }
  .hero-call-to-action {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .snacks-header,
  .snacks-order {
    min-width: 100%;
  }
  .hero-content,
  .home {
    box-sizing: border-box;
  }
  .hero-content {
    padding-bottom: var(--padding-14xl);
  }
  .home {
    gap: 105px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
}
@media screen and (max-width: 750px) {
  .content {
    display: none;
  }
  .header {
    width: 786px;
  }
  .break-fast {
    font-size: var(--font-size-32xl);
  }
  .time-7am {
    font-size: var(--font-size-7xl);
  }
  .breakfast-time-parent {
    flex-wrap: wrap;
  }
  .get-your-breakfast {
    font-size: var(--font-size-7xl);
  }
  .hero-button-container {
    gap: 34px;
  }
  .hero-call-to-action {
    gap: 37px;
  }
  .lunch {
    font-size: var(--font-size-32xl);
  }
  .time-1pm {
    font-size: var(--font-size-7xl);
  }
  .lunch-details {
    flex-wrap: wrap;
  }
  .get-your-lunch {
    font-size: var(--font-size-7xl);
  }
  .lunch-content {
    gap: var(--gap-2xl);
  }
  .lunch-content-wrapper {
    padding-bottom: 322px;
    box-sizing: border-box;
  }
  .snacks {
    font-size: var(--font-size-32xl);
  }
  .time {
    font-size: var(--font-size-7xl);
  }
  .snacks-header {
    gap: var(--gap-21xl);
  }
  .get-your-snacks {
    font-size: var(--font-size-7xl);
  }
  .snacks-order-content {
    gap: 63px;
  }
  .snacks-details {
    gap: var(--gap-xl);
  }
  .snacks-divider-parent {
    gap: 27px;
  }
  .dinner {
    font-size: var(--font-size-32xl);
  }
  .dinner-header {
    flex-wrap: wrap;
  }
  .time-8pm {
    font-size: var(--font-size-7xl);
  }
  .dinner-slogan-dots {
    padding-left: 207px;
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .get-your-dinner {
    font-size: var(--font-size-7xl);
  }
  .dinner-schedule {
    gap: 35px;
  }
  .hero-content {
    gap: 45px;
  }
  .follow-us-on {
    font-size: var(--font-size-13xl);
  }
  .carousel-indicators-parent {
    gap: 46px;
  }
}
@media screen and (max-width: 450px) {
  .break-fast {
    font-size: var(--font-size-19xl);
  }
  .time-7am {
    font-size: var(--font-size-lgi);
  }
  .breakfast-dots {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .get-your-breakfast {
    font-size: var(--font-size-lgi);
  }
  .hero-button-container {
    gap: var(--gap-mid);
  }
  .hero-call-to-action {
    gap: var(--gap-lgi);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .lunch {
    font-size: var(--font-size-19xl);
  }
  .get-your-lunch,
  .time-1pm {
    font-size: var(--font-size-lgi);
  }
  .snacks {
    font-size: var(--font-size-19xl);
  }
  .time {
    font-size: var(--font-size-lgi);
  }
  .snacks-dot-list {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .snacks-header {
    gap: var(--gap-xl);
  }
  .get-your-snacks {
    font-size: var(--font-size-lgi);
  }
  .snacks-order-content {
    gap: 32px;
  }
  .dinner {
    font-size: var(--font-size-19xl);
  }
  .time-8pm {
    font-size: var(--font-size-lgi);
  }
  .dinner-slogan-dots {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .get-your-dinner {
    font-size: var(--font-size-lgi);
  }
  .dinner-schedule {
    gap: var(--gap-mid);
  }
  .hero-content {
    gap: var(--gap-4xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .follow-us-on {
    font-size: var(--font-size-5xl);
  }
  .carousel-indicators-parent {
    gap: var(--gap-4xl);
  }
  .home {
    gap: 52px;
  }
}
